<table><tr><fusioncharts 
[style.float]="'left'"
    width="600" 
    height="400"
    type="pie3d"
    [dataSource]="pieChartExpenseDataSource"
    >
</fusioncharts>
<fusioncharts
[style.float]="'left'"
    width="600"
    height="400"
    type="line"
    [dataSource]="barChartExpenseDataSource">
</fusioncharts>
</tr>
<tr>
<fusioncharts 
[style.float]="'left'"
    width="600" 
    height="400"
    type="pie3d"
    [dataSource]="pieChartIncomeDataSource"
    >
</fusioncharts>
<fusioncharts
[style.float]="'left'"
    width="600"
    height="400"
    type="line"
    [dataSource]="barChartIncomeDataSource">
</fusioncharts>
</tr>
</table>